<?xml version="1.0"?>

<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.7"/>
		<httpRuntime targetFramework="4.7" />
	</system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="ToHTTPS">
					<match url="(.*)"/>
					<conditions>
						<add input="{HTTPS}" pattern="Off"/>
						<add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<behaviors>
			<serviceBehaviors>
				<behavior name="ajaxService">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="ajaxEndpoint">
					<webHttp automaticFormatSelectionEnabled="true" defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<webHttpBinding>
				<binding name="ajaxBinding">
					<security mode="Transport" />
				</binding>
			</webHttpBinding>
		</bindings>
	</system.serviceModel>

</configuration>
